@tailwind base;
@tailwind components;
@tailwind utilities;

.chatbot {
    position: fixed;
    bottom: 0;
    right: 0;
}

.chat-button {
    position: fixed;
    bottom: 0;
    right: 0;
}

@media (max-width: 600px) {
    .chatbot .resize-container {
        width: 100vw !important;
        height: 100vh !important;
        max-width: 100vw !important;
        max-height: 100vh !important;
    }
}

@keyframes breathing {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-breathing {
    animation: breathing 2s infinite;
}
